.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary);
  background-size: 48px 48px;
  background-image: repeating-linear-gradient(
    0deg,
    var(--secondary),
    var(--secondary) 1.8px,
    var(--light) 1.8px,
    var(--light)
  );
}

.badges-icon {
  width: 50px;
  margin-top: 10px;
  display: flex;
}

.profile-container {
  width: 100%;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background-color: var(--light);
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.profile-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }

  p {
    font-size: 16px;
    margin-bottom: 5px;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
  }
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.item {
  width: 23%;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--primary-light);
  text-align: center;

  p {
    font-size: 14px;
    margin-bottom: 5px;
  }

  h2 {
    font-size: 22px;
    color: var(--primary);
  }
}

.badges-icon {
  width: 50px;
  margin-top: 10px;
  display: flex;
}

.badges-icon {
  width: 50px;
  margin-top: 10px;
  display: flex;
}
