<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Menu</title>
    <link rel="stylesheet" type="text/css" href="static/home.css">
    <script src="static/home.js"></script>
    
    
</head>
<body>
    <div class="container">
        <ul class="menu">
            <li class="tab-link" data-tab="cadastro1">Cadastro usuario</li>
            <li class="tab-link" data-tab="cadastro2">Cadastro Pacientes</li>
            <li class="tab-link" data-tab="Agendamento">Agendar Consulta</li>
            <li class="tab-link" data-tab="CancelarConsulta">Cancelar Consulta</li>
        </ul>

        <div id="cadastro1" class="tab-content">
            <!-- Conteúdo do formulário de Cadastro Funcionarios -->
            <form action="/atualizar/usuario/" method="POST">
                <h1>Cadastro Usuario</h1>
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" required>
                </div>
                <div class="form-group">
                    <label for="email">E-mail:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="cpf">cpf:</label>
                    <input type="text" id="cpf" name="cpf">
                </div>
                <div class="form-group">
                    <label for="telefone">Telefone:</label>
                    <input type="tel" id="telefone" name="telefone">
                </div>
                
                <div class="form-group">
                    <label for="usuario">Usuario:</label>
                    <input type="text" id="usuario" name="usuario" required>
                </div>
                <div class="form-group">
                    <label for="senha">Senha:</label>
                    <input type="password" id="senha" name="senha" required>
                </div>

                <div class="form-group">
                    <label for="acesso">Acesso:</label>
                    <input type="text" id="acesso" name="acesso">                  
                </div>

                <div class="form-group">
                    <button type="submit">Enviar</button>
                </div>

                {% if sucesso_message1 %}
                     <p style="color: green;">{{ sucesso_message1 }}</p>
                {% endif %}
            </form>
        </div>

        <div id="cadastro2" class="tab-content">
            <!-- Conteúdo do formulário de Cadastro Pacientes -->
            <form action="/cadastro/pacientes" method="POST">
                <h1>Cadastro Pacientes</h1>
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" required>
                </div>
                <div class="form-group">
                    <label for="telefone">Telefone:</label>
                    <input type="tel" id="telefone" name="telefone">
                </div>
                <div class="form-group">
                    <label for="data_nascimento">Data de Nascimento:</label>
                    <input type="date" id="data_nascimento" name="data_nascimento" required>
                </div>           
                <div class="form-group">
                    <label for="convenio">convenio:</label>
                    <select id="convenio" name="convenio" required>
                        <option value="" disabled selected>Selecione uma opção</option>
                        {% for convenio_item in convenio %}
                        <option value="{{ convenio_item.id }}">{{ convenio_item.nome }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <button type="submit">Enviar</button>
                </div>

                {% if sucesso_message2 %}
                     <p style="color: green;">{{ sucesso_message2 }}</p>
                {% endif %}
            </form>
        </div>
    </div>

    <div id="Agendamento" class="tab-content">
        <form action="/agendar" method="POST" id="appointmentForm">
            
            <div class="container">
                <h1>Agendar Consulta</h1>
                <h2>Escolha um Médico</h2>
                <label for="id_medico">Médico:</label>
                <select id="id_medico" name="id_medico" required>
                    <option value="" disabled selected>Selecione um médico</option>
                    {% for medico in medicos %}
                        <option value="{{ medico.id }}">{{ medico.nome }}</option>
                    {% endfor %}
                </select>
        
                <h2>Escolha um Dia</h2>
                <label for="data">Data da Consulta:</label>
                <input type="date" id="data" name="data" required>
        
                <h2>Horários Disponíveis</h2>
                <table id="horariosTable">
                    <thead>
                        <tr>
                            <th>Hora</th>
                            <th>Disponibilidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Os horários disponíveis serão preenchidos aqui -->
                    </tbody>
                </table>      
                
                <h2>Agendar Horário</h2>
                
                    <select id="id_paciente" name="id_paciente" required>
                        <option value="" disabled selected>Selecione um paciente</option>
                        {% for paciente in paciente %}
                            <option value="{{ paciente.id }}">{{ paciente.nome }}</option>
                        {% endfor %}
                    </select>
        
                    <label for="selectedTime">Horário Selecionado:</label>
                    <select id="horarios" name="horario" required>
                        <option value="" disabled selected>Selecione um horário</option>
                        <!-- As opções serão preenchidas dinamicamente -->
                    </select>
        
                    <button type="submit">Agendar</button>
                </div>
            </form>

        
    </div>
    <script src="static/home.js"></script> 
</body>
</html>
